.header-image .page-title {
    color: #FFFFFF;
}

.h1,
.page-header h1,
.page-title {
    font-size: 50px;
    line-height: 55px;
}

.page .header-image {
    position: relative;
}

.page .header-image img {
    max-height: 293.95px;
}

.page .header-image .page-title {
    position: absolute;
    top: 45%;
    z-index: 3;
    left: 50%;
}

#main .content {
    margin-top: 2rem;
    margin-bottom: 6em;
}

.page .container.content {
    max-width: 565px;
}

#content {
    font-size: 21px;
    line-height: 24px;
}

#content h2,
#content h3 {
    font-family: 'RobotoMono';
    font-size: 18px;
    line-height: 1.8px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}