.header-image .page-title {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #FFFFFF;
}

.page .header-image img {
    max-height: 293.95px;
}

#main .content {
    margin-top: 2rem;
    margin-bottom: 6em;
}