.header-image .page-title {
    color: #FFFFFF;
}

.h1,
.page-header h1,
.page-title {
    font-size: 50px;
    line-height: 55px;
}

.page .header-image {
    position: relative;
}

.page .header-image img {
    max-height: 293.95px;
}

.page .header-image .page-title {
    position: absolute;
    top: 45%;
    z-index: 3;
    left: calc(50% - 72px);
}

main .content {
    margin-top: 2rem;
    margin-bottom: 6em;
}

.page .container.content {
    max-width: 565px;
}

#content {
    font-size: 21px;
    line-height: 28px;
    font-family: 'Unna';
}

#content h2 {
    font-family: 'RobotoMono';
    font-size: 18px;
    word-spacing: 1.8px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}